@import 'tailwindcss';

#__next {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@theme {
  --animate-bounce: bounce 0.5s 0.1s ease-in-out;

  @keyframes bounce {
    0% {
      transform: translateY(0%);
    }

    50% {
      transform: translateY(-25%);

      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    70% {
      transform: translateY(25%);

      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
    100% {
      transform: translateY(0%);
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }
}
